In [1]:
import pandas as pd

In [3]:
btc_data_full = pd.read_csv("BTC-USD_complet.csv", index_col = 'Date')

btc_data_full.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-10,46121.539063,47647.222656,44483.152344,46627.777344,46627.777344,50114613298
2024-01-11,46656.074219,48969.371094,45678.644531,46368.585938,46368.585938,45833734549
2024-01-12,46354.792969,46498.136719,41903.769531,42853.167969,42853.167969,43332698900
2024-01-13,42799.445313,43234.660156,42464.144531,42842.382813,42842.382813,20601860469
2024-01-14,42842.261719,43065.597656,41724.613281,41796.269531,41796.269531,17521429522
2024-01-15,41715.066406,43319.722656,41705.417969,42511.968750,42511.968750,22320220558
2024-01-16,42499.335938,43566.273438,42085.996094,43154.945313,43154.945313,24062872740
2024-01-17,43132.101563,43189.890625,42189.308594,42742.652344,42742.652344,20851232595
2024-01-18,42742.312500,42876.347656,40631.171875,41262.058594,41262.058594,25218357242
2024-01-19,41278.460938,41484.757813,40756.769531,40904.839844,40904.839844,27852990464

In [11]:
new_btc = pd.DataFrame(btc_data_full.loc["2023-09-17":"2023-10-15"]['Close'])
new_btc.tail(29)

                   Close
Date
2023-09-17  26534.187500
2023-09-18  26754.281250
2023-09-19  27211.117188
2023-09-20  27132.007813
2023-09-21  26567.632813
2023-09-22  26579.568359
2023-09-23  26579.390625
2023-09-24  26256.826172
2023-09-25  26298.480469
2023-09-26  26217.250000
2023-09-27  26352.716797
2023-09-28  27021.546875
2023-09-29  26911.720703
2023-09-30  26967.916016
2023-10-01  27983.750000
2023-10-02  27530.785156
2023-10-03  27429.978516
2023-10-04  27799.394531
2023-10-05  27415.912109
2023-10-06  27946.597656
2023-10-07  27968.839844
2023-10-08  27935.089844
2023-10-09  27583.677734
2023-10-10  27391.019531
2023-10-11  26873.320313
2023-10-12  26756.798828
2023-10-13  26862.375000
2023-10-14  26861.707031
2023-10-15  27159.652344